@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --color-erg-primary-accent-green: #36482E;  /*Cal Poly Green - Buttons, highlights, key headings*/
  --color-erg-background-white: #FAF7F0;      /*Floral White   - Page background, hero section base*/
  --color-erg-second-accent-tan: #D8CBBB;     /*Dun            - Hover states, subtle dividers*/
  --color-erg-text-gray: #3A3A3A;             /*Jet            - Body text, footer, icons*/
  --color-erg-highlight-sage: #B7C9A5;        /*Sage           - Links, badges, skill bubbles*/
}

a, .btn {
  transition: all 300ms ease;
}

a:hover {
  color: var(--color-erg-highlight-sage);
  text-decoration: underline;
  text-underline-offset: 6px;
}
